* {
  margin: 0;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
*::-webkit-scrollbar {
  display:none
}
body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 /* color 04A76B */